* {
    text-align: center;
    font-family: 'Nunito Sans';
    box-sizing: border-box;
    background-color: #e0eddf;
}

#message {
    color: #122e65;
}   

#quote {
    color: #0b6910;
}  

#author {
    color: #565656;
} 

#generate {
    background-color: #d2d2d2;
    color: #b41414;
    cursor: default;
  }